@import "tailwindcss";

html {
  @apply h-full min-h-screen transition-colors duration-300 bg-white text-gray-900;
}

html.dark {
  @apply bg-gray-900 text-gray-100;
}

body {
  @apply h-full
}

main {
  @apply pt-16
}

nav {
  @apply w-full fixed top-0 z-50 shadow-md bg-blue-500 text-white
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}